body {
    position: relative;
}

/* Title bar */
#sb-title-bar {
    align-items: center; /* Vertikale Zentrierung */
    background-color: #000;
    display: flex;
    font-weight: bold;
    height: 5rem;
    justify-content: center; /* Horizontale Zentrierung */
    text-align: center;
    text-transform: uppercase;
}

/* General layout */
#sb-main {
    flex-wrap: nowrap;
    height: calc(100vh - 5rem);
}

#sb-middle {
    background-color: #000;
    padding: 0;
    width: 58%;
    height: 100%;
}

#sb-player-1 {
    background-color: #900;
    height: 100%;
    width: 21%;
}

#sb-player-2 {
    background-color: #036;
    height: 100%;
    width: 21%;
}

#sb-subtitle {
    align-items: center;
    background-color: #003;
    display: flex;
    height: 5rem;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}

/* Player columns */
.sb-player {
    text-align: center;
}

.sb-player .name {
    font-size: 2.6rem;
    font-weight: bold;
    padding: 1rem 2rem;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sb-player .points {
    color: #EEDE17;
    font-size: 6rem;
    font-weight: bold;
    line-height: 6rem;
    text-align: center;
}

.sb-player .rounds-won-container {
    text-align: center;
}

.sb-player .rounds-won-container .rounds-won {
    background-color: #EEDE17;
    color: #000;
    display: inline-block;
    font-size: 2.6rem;
    font-weight: bold;
    margin-top: 2rem;
    min-width: 6.2rem;
    padding: 0 2rem;
}

.sb-player .lifetime-points {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}

/* Center area: timer, highscores */
@keyframes timerEndBlink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

#sb-timer {
    color: #53C804;
    font-size: 4rem;
    font-weight: bold;
    display: none;
    text-align: center;
}

#sb-timer.timer-end-blink {
    animation: timerEndBlink 1s steps(1, end) 11; /* Blink for 11 seconds */
}

#sb-logo {
    margin-top: 1rem;
    text-align: center;
}

#sb-logo img {
    max-height: 4rem;
}

/* Highscore */
#sb-highscore .title {
    color: #FFFF93;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.highscore-row {
    display: flex;
    justify-content: space-between;
}

.highscore-row .pos,
.highscore-row .name,
.highscore-row .points {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 6px;
}

.highscore-row .pos {
    min-width: 10%;
}

.highscore-row .name {
    overflow:hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
}

.highscore-row .points {
    color: #FFFF93;
}

.tab-pane {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#sb-admin-players {
    min-height: 8rem;
    overflow-y: scroll;
    width: 100%;
}

#sb-admin-players {
    margin-top: 1rem;
}

#sb-admin-players .sb-admin-player {
    margin-bottom: 2rem;
}

#sb-admin-players .btn-check.btn-select-player:checked + .btn {
    background-color: #060;
}

#sb-admin-round-options {
    background-color: #111;
    border-bottom: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#round-start-button {
    margin-left: auto;
    margin-right: 0;
}

h2.modal-title {
    font-size: 1.2rem;
    font-weight: bold;
}

#sb-score-display-container {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
}

#sb-score-display {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 12px;
    font-size: 6.6rem;
    font-weight: bold;
    margin-top: -10vh;
    padding: 1rem;
    text-transform: uppercase;
}

#sb-score-display .points {
    display: inline-block;
    padding-left: 2rem;
}



.shadow-dance-text {
    color: #fff;
    text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
    }
}

#sb-index-scoreboard-list {
    margin-top: 1rem;
}

.sb-index-room {
    margin-bottom: 1rem;
}

.sb-index-room-game-container {
    margin-bottom: 1rem;
}