#sb-title-bar {
    align-items: center; /* Vertikale Zentrierung */
    background-color: #000;
    display: flex;
    font-weight: bold;
    height: 5rem;
    justify-content: center; /* Horizontale Zentrierung */
    text-align: center;
    text-transform: uppercase;
}

#sb-main {
    flex-wrap: nowrap;
    height: calc(100vh - 5rem);
}

#sb-middle {
    background-color: #000;
    padding: 0;
    width: 58%;
    height: 100%;
}

#sb-player-left {
    background-color: #900;
    height: 100%;
    width: 21%;
}

#sb-player-right {
    background-color: #036;
    height: 100%;
    width: 21%;
}

#sb-subtitle {
    align-items: center; /* Vertikale Zentrierung */
    background-color: #003;
    display: flex;
    height: 5rem;
    justify-content: center; /* Horizontale Zentrierung */
    font-size: 2rem;
    text-align: center;

}